.container {
    height: calc(100vh - 180px);
    background-color: rgb(244, 99, 123);
    display: flex;
  }
  
  .item {
    flex: 1;
    position: relative;
    display: flex;
  }
  
  .itemImage {
    flex: 1;
    position: relative;
    display: flex;
  }

  .item:last-child {
    flex: 2;
    padding: 50px;
    justify-content: space-between;
  }
  
  .card {
    flex: 1;
    padding: 0 20px;
  }
  
  .title {
    font-size: 18px;
    color: rgb(254, 216, 222);
  }
  
  .text {
    color: lightgray;
    font-size: 15px;
    padding-bottom: 12px;
  }
  
  .motto {
    color: rgb(211, 211, 211);
  }
  
  @media screen and (max-width: 768px) {
    .container {
      height: auto;
      text-align: center;
    }
   
    .item:first-child {
      position: relative;
    } 
    .itemImage {
      
      position: relative;
    }

    .item {
      position: relative;
    }

    .motto {
      font-size: 9px;
    }

    .title {
      font-size: 8px;
    }

    .text {
      font-size: 8px;
    }
  }